.input-card form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.input-card .input-group {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  width: 100%;
  position: relative;
}

.input-card .input-group label {
  flex: 0 0 40px;
}

.input-card .input-group:focus-within label {
  transform: rotate(-12deg) translateY(16px) translateX(14px) scale(1.5);
  color: #f06292;
}

.input-card input {
  background: #212121;
  border: 2px solid transparent;
  padding: 0.4rem 1rem;
  font: inherit;
  color: inherit;
  border-radius: 6px;
  flex: 1;
  font-weight: bold;
  margin-left: 8rem;
}

.input-card input:focus {
  outline: none;
  border-color: #880e4f;
  background: #f8bbd0;
  color: #880e4f;
}

.input-card label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  text-align: right;
  color: #f48fb1;
  height: 100%;
  display: block;
  transform: rotate(0) translateY(10px) translateX(12px);
  position: absolute;
  z-index: 4;
  transition: all 400ms ease-out;
}
